@model List<CRUD_El_Colombiano.Models.PersonasInteresada>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <h5>Lista de Personas Insteresadas</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="PersonaInteDetalle" asp-controller="Home" asp-route-idPersonaInt="0">Nuevo</a>
        <a class="btn btn-success btn-sm" asp-action="Ver_Proyectos" asp-controller="Home" asp-route-idPersonaInt="0">Ver Proyectos Disponibles</a>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo Electronico</th>
                    <th>Numero Telefono</th>
                    <th>Proyecto de interes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.CorreoElectronico</td>
                        <td>@item.NumeroTelefono</td>
                        <td>@item.ProyectoDeInteres</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="PersonaInteDetalle" asp-controller="Home" asp-route-idPersonaInt="@item.Id"> Editar </a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idPersonaInt="@item.Id"> Eliminar </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>